<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.relintai.pandemonium.pandemonium"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- Should match the mindSdk and targetSdk values in platform/android/java/app/config.gradle -->
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="30" />

    <application>

        <!-- Records the version of the Pandemonium library -->
        <meta-data
            android:name="net.relintai.pandemonium.library.version"
            android:value="${pandemoniumLibraryVersion}" />

        <service android:name=".PandemoniumDownloaderService" />

    </application>

    <instrumentation
        android:name=".PandemoniumInstrumentation"
        android:icon="@mipmap/icon"
        android:label="@string/pandemonium_project_name_string"
        android:targetPackage="net.relintai.pandemonium.pandemonium" />

</manifest>
